{% extends 'base.html' %}
{% load static %}

{% block content %}

<h3> สินค้าล่าสุด </h3>
<div class="container-fluid">
	<div class="row">
	{% for pd in product %}
		<div class="col-sm-4">
			<div class="card" style="width:300px; height: 500px">
				{% if pd.image %}
					<img class="card-img-top" src="{{pd.image.url}}" width="400" style="width:300; height: 200px; overflow: hidden;">
				{% elif pd.imageurl != None %}
					<img class="card-img-top" src="{{pd.imageurl}}" width="400" style="width:300; height: 200px; overflow: hidden;">
				{% else %}
					<img class="card-img-top" src="/media/photo/default.png" width="400" style="width:300; height: 200px; overflow: hidden;">
				{% endif %}
				
				<div class="card-body">
					<h1 class='card-title'>{{pd.name}}</h1>
					<p>ราคา{{pd.price}} บาท/{{pd.unit}}</p>
					<p>{{pd.detail|linebreaks|truncatechars_html:50}}</p>

					{% if pd.quantity > 0 %}
						<p>สินค้ามีในstock: {{pd.quantity}} {{pd.unit}}</p>
					{% else %}
						<p><font color="red">สินค้าอาจจะหมด ติดต่อ admin  </font></p>				
					{% endif %}

					{% if pd.instock == True %}
						<a href="#" class="btn btn-success">สั่งซื้อ</a>
					{% else %}
						<a href="#" class="btn btn-warning">สินค้าหมด</a>
					{% endif %}
				</div>
			</div>
		</div>	
		<br><br><br><br><br><br>
	{% endfor %}
	</div>
</div>

<div class='container'>
	<center><a href="{% url 'allproduct' %}"><h1>ดูสินค้าทั้งหมด</h1></a></center>
	<hr>
</div>


<h3> สินค้าขายดี </h3>
<div class="container-fluid">
	<div class="row">
	{% for pd in preorder %}
		<div class="col-sm-4">
			<div class="card" style="width:300px; height: 500px">
				{% if pd.image %}
					<img class="card-img-top" src="{{pd.image.url}}" width="400" style="width:300; height: 200px; overflow: hidden;">
				{% elif pd.imageurl != None %}
					<img class="card-img-top" src="{{pd.imageurl}}" width="400" style="width:300; height: 200px; overflow: hidden;">
				{% else %}
					<img class="card-img-top" src="/media/photo/default.png" width="400" style="width:300; height: 200px; overflow: hidden;">
				{% endif %}
				
				<div class="card-body">
					<h1 class='card-title'>{{pd.name}}</h1>
					<p>ราคา{{pd.price}} บาท/{{pd.unit}}</p>
					<p>{{pd.detail|linebreaks|truncatechars_html:50}}</p>

					{% if pd.quantity > 0 %}
						<p>สินค้ามีในstock: {{pd.quantity}} {{pd.unit}}</p>
					{% else %}
						<p><font color = "red">สินค้าหมดแล้ว preorder ได้</font></p>
						<a href="#" class="btn btn-warning">preorder</a>
					{% endif %}
				</div>
			</div>
		</div>	
		<hr><hr><hr><hr>
	{% endfor %}
	</div>
</div>
{% endblock %}